<h3>Add Entry</h3>
<input type="text" placeholder="What did you do?" ng-model="vm.titleIn">
<select ng-model="vm.projectIn">
    <option value="project1">Project 1</option>
    <option value="project2">Project 2</option>
</select>
<div flex-gt-xs>
    <md-datepicker ng-model="vm.dateIn" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
</div>
<input type="text" placeholder="Start Time" ng-model="startIn">
<input type="text" placeholder="End Time" ng-model="endIn">
<button ng-click="vm.entryIn(vm.dateIn)">Submit</button>
<br>
<h3>History</h3>
<div></div>
    <table>
        <thead>
            <th>Entry</th>
            <th>Project</th>
            <th>Date</th>
            <th>Hours</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat="entry in vm.entry">
                <td>{{entry.entry}}</td>
                <td>{{entry.project}}</td>
                <td>{{entry.date | date: 'MM/dd/yyyy'}}</td>
                <td>{{entry.hours}}</td>
                <td><button>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>