<h3>Add Project</h3>
<md-input-container class="md-block" flex=50>
    <input type="text" placeholder="Project Name" ng-model="vm.projectIn">
</md-input-container>
<md-button class="md-raised md-primary" ng-click="vm.runProjectIn()">Submit</md-button>
<h3>Projects</h3>


<table>
    <thead>
        <th>Project</th>
        <th>Total Hours</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="project in vm.projects">
            <td>{{project.name}}</td>
            <td>{{project.sum}}</td>
            <td><button ng-click="vm.deleteProject( project.id )">Delete</button></td>
        </tr>   
    </tbody>
</table>