<div class="view">
    <h3>Add Project</h3>
    <md-input-container class="md-block" flex=50>
        <input type="text" placeholder="Project Name" ng-model="vm.projectIn">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="vm.runProjectIn()">Submit</md-button>



    <h3>Projects</h3>
    <table class="w3-table-all w3-hoverable w3-card-4" id="projectTable">
        <thead>
            <th ng-click="vm.sortTable(0)">Project</th>
            <th ng-click="vm.sortTable(1)">Total Hours</th>
            <th style="text-align:center">Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat="project in vm.projects">
                <td>{{project.name}}</td>
                <td>{{project.sum == null ? 0 : project.sum;}}</td>
                <td style="text-align:center"><md-button class="md-raised md-primary" ng-click="vm.editroject( project.id )">Edit</md-button><md-button class="md-raised md-accent" ng-click="vm.deleteProject( project.id )">Delete</md-button></td>
            </tr>   
        </tbody>
    </table>
</div>